<h2>Write whatever you want, your existence is a lie<img class="face" src="https://png2.kisspng.com/20180510/uwq/kisspng-rick-sanchez-morty-smith-lawnmower-dog-scientist-n-5af4f92bc144b5.4062790715260040117916.png"></h2>
<%= render 'form', article: @article %>

