// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#portal{
  height:60px;
  margin-left:10px;
}

.face{
  height:50px;
  margin-bottom:10px;
}

#fart{
  height:45px;
}

.links {
  display: inline;
}
